[submodule "third_party/feapder"]
	path = third_party/feapder
	url = https://github.com/Boris-code/feapder.git
[submodule "third_party/anitopy"]
	path = third_party/anitopy
	url = https://github.com/igorcmoura/anitopy
